// import
@import './helpers';

// common
body {
  background-color: $background;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 460px + $gap * 2;
  padding: 0 $gap;
  margin: 0 auto;
}

.NanumMyeongjo {
  font-family: 'Nanum Myeongjo', serif;
}
