// import
@import '../../assets/scss/helpers';

// styles
.button {
  display: flex;
  overflow: hidden;
  min-height: 80px;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;

  @media ($lg_up) {
    &:hover {
      transform: scale(1.03);
    }
  }
}

.thumbnail {
  display: block;
  width: 80px;
  flex: 0 0 auto;
  object-fit: cover;
}

.text {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding-right: 80px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
