// import
@import '../../assets/scss/helpers';

// styles
.button {
  display: grid;
  overflow: hidden;
  min-height: 80px;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  grid-template-columns: 80px 1fr 80px;

  @media ($lg_up) {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.thumbnail {
  display: block;
  width: 80px;
  flex: 0 0 auto;
  object-fit: cover;
}

.text {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  grid-column: 2;
  text-align: center;
}
