// import
@import '../../assets/scss/helpers';

// styles
#main {
  .description {
    min-height: 76px;
    padding: ($gap * 2) $gap;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;

    strong {
      font-weight: 400;
    }
  }
}
