// import
@import '../../assets/scss/helpers';

// styles
#main {
  padding-bottom: 100px;
}

.description {
  min-height: 140px;
  padding: ($gap * 2) $gap;
  font-size: 14px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: $gap;

  .separator {
    display: flex;
    justify-content: center;
    padding: (40px - $gap - $gap) 0;
    text-align: center;

    &::after {
      display: block;
      width: 38px;
      height: 1px;
      background-image: linear-gradient(to right, #F2E4B6 10px, transparent 4px);
      background-size: 14px 100%;
      content: '';
    }
  }
}
