// import
@import '../../assets/scss/helpers';

// styles
#header {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 250px;
  align-items: flex-end;
  justify-content: space-between;
  padding: $gap;
  border-radius: 0 0 4px 4px;
  background-image: url('../../assets/images/header-background.jpg');
  background-position: center;
  background-size: cover;

  @media ($sm_down) {
    border-radius: 0;
    margin: 0 -#{$gap};
    padding: {
      right: $gap * 2;
      left: $gap * 2;
    }
  }

  &::after {
    @include disable;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
  }

  .title {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    grid-area: title;
    word-break: keep-all;
  }

  .ryt {
    @include disable();

    position: relative;
    z-index: 2;
    top: 8px;
    right: -4px;
    width: 68px;
    align-self: flex-end;
    grid-area: ryt;
    justify-self: flex-end;
  }
}
