// import
@import '../../assets/scss/helpers';

// styles
#footer {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  color: $lightgray;
  font-size: 12px;
  font-weight: 900;
  gap: 4px;

  .separator {
    color: #ddd;
    font-weight: 400;
  }

  .contact {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: inherit;

    svg {
      width: 14px;
      fill: currentColor;
    }
  }
}
